:root {
    --background: #674baf;
    --body-font: 'Open Sans', sans-serif;
    --tittle-font: 'Poppins', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--background);
    background-image: url('./images/bg-mobile.svg');
    background-repeat: no-repeat;
    padding: 0 35px;
}

/* Header */
.header {
    display: flex;
    align-items: center;
    height: 150px;
}
.header__logo {
    height: 40px;
}
.header__logo img {
    height: inherit;
}

/* Main */
.main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 280px);
}
.main__image__container {
    width: 100%;
}
.main__image__container img {
    width: inherit;
}

.description__tittle {
    text-align: center;
    font-family: var(--tittle-font);
    font-size: 2.4rem;
    font-weight: 700;
    color: white;
    margin-bottom: 25px;
}
.description__info {
    text-align: center;
    font-family: var(--body-font);
    font-size: 1.6rem;
    font-weight: 400;
    color: white;
}